html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #f9f9f9;
}

main {
}

.main-section {
    padding: 0;
    max-height: 100vh;
    overflow-y: scroll;
}

.main-table {

}

.main-table tr {
    cursor: pointer;
}

.main-table tr:first-child {
    cursor: auto;
}

.table-header {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.table-header__title {
    text-align: center;
    flex: 3;
}

.table-header__options {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.main-table--sort-header {
    color: #0163A4;
}

/* ---------- Info Aside ------------ */

.info-aside {
    background: #0163A4;
    height: 100vh;
}

.info-aside__header {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.info-aside__section-header {
    display: flex;
    color: white;
    align-items: center;
}

.info-aside--section:not(.info-aside--section:first-child) {
    margin-top: 4rem;
}

/* Odds Table */

.info-aside__table {
    background: white;
}

.info-aside__table--header {
    background-color: #0163A4 !important;
    color: white;
}

.info-aside__table--header th {
    border-top-color: #0163A4 !important;
}


/* Price Chart */

.info-aside__chart--container {
    background: white;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-aside__chart--container canvas {
    max-width: 90%;
    max-height: 90%;
}

.info-aside__info {
    margin-top: 2rem;
}

.info-aside__info--text {
    color: white;
}
