<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Stratagem Test</title>
</head>
<body class="container-fluid">

    <main class="row">
        <section class="main-section col-md-9">
            <header class="table-header" ng-controller="TableHeaderController as thctrl">
                <div class="table-header__title">
                    <h1 class="h4">UEFA Champions Legaue - 2016/2017</h1>
                </div>

                <div class="table-header__options">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button"
                                ng-class="thctrl.betType == 'decimal' ? 'btn btn-primary' : 'btn btn-default'"
                                ng-click="thctrl.changeBetType('decimal')">Decimal</button>
                        <button type="button"
                                ng-class="thctrl.betType == 'fraction' ? 'btn btn-primary' : 'btn btn-default'"
                                ng-click="thctrl.changeBetType('fraction')">Fraction</button>
                    </div>
                </div>
            </header>

            <table class="main-table table table-bordered table-hover" ng-controller="MainTableController as mtctrl">
                <tr>
                    <th ng-click="mtctrl.changeFilter('team')" ng-class="mtctrl.sortType == 'team' ? 'main-table--sort-header' : ''">Team</th>
                    <th ng-click="mtctrl.changeFilter('bookmaker')" ng-class="mtctrl.sortType == 'bookmaker' ? 'main-table--sort-header' : ''">Bookmaker</th>
                    <th ng-click="mtctrl.changeFilter('back')" ng-class="mtctrl.sortType == 'back' ? 'main-table--sort-header' : ''">Back Odds</th>
                    <th ng-click="mtctrl.changeFilter('lay')" ng-class="mtctrl.sortType == 'lay' ? 'main-table--sort-header' : ''">Lay Odds</th>
                </tr>
                <tr ng-repeat="team in mtctrl.tableData | orderBy:mtctrl.sortType:mtctrl.sortReverse"
                    ng-mouseover="mtctrl.selectTeam(team.team)"
                    ng-class="mtctrl.selectedTeam == team.team ? 'success' : ''"
                    ng-click="mtctrl.selectTeam(team.team)">
                    <td>{{::team.team}}</td>
                    <td>{{::team.bookmaker}}</td>
                    <td>{{mtctrl.formatOdd(team.back)}}</td>
                    <td>{{mtctrl.formatOdd(team.lay)}}</td>
                </tr>
            </table>
        </section>

        <aside class="info-aside col-md-3" ng-controller="InfoAsideController as iactrl">

            <header class="info-aside__header">
                <h1 class="h4">More Information For {{iactrl.selectedTeam.team}}</h1>
            </header>

            <section class="info-aside__odds">
                <div class="info-aside__section-header">
                    <h2 class="h4">Alternatives</h2>
                </div>
                <table class="info-aside__table table table-striped">
                    <tr class="info-aside__table--header">
                        <th>Bookmaker</th>
                        <th>Back</th>
                        <th>Lay</th>
                    </tr>
                    <tr ng-repeat="odd in iactrl.selectedTeam.odds">
                        <th>{{::odd.bookmaker}}</th>
                        <th>{{iactrl.formatOdd(odd.back)}}</th>
                        <th>{{iactrl.formatOdd(odd.lay)}}</th>
                    </tr>
                </table>
            </section>


            <section class="info-aside__chart">

                <div class="info-aside__section-header">
                    <h2 class="h4">Price Trends</h2>
                </div>

                <div class="info-aside__chart--container">
                    <canvas id="line" class="chart chart-line" chart-data="iactrl.chartData"
                            chart-labels="iactrl.labels"  chart-options="iactrl.options">
                    </canvas>
                </div>

            </section>

            <!-- Had planned to make a wikipedia search and display and extract -->
            <!-- Could present some more historic data such as number of wins   -->
            <section class="info-aside__info">
                <div class="info-aside__section-header">
                    <h2 class="h4">Background</h2>
                </div>
                <p class="info-aside__info--text">Founded in 1902 as Madrid Football Club, the team has traditionally
                    worn a white home kit since inception. The word Real is Spanish for Royal
                    and was bestowed to the club by King Alfonso XIII in 1920 together with
                    the royal crown in the emblem. </p>
            </section>
        </aside>
    </main>


    <script src="js/Chart.min.js"></script>
    <script src="js/fraction-0.3.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-chart.min.js"></script>

    <script src="app/index.js"></script>
    <script src="app/services/DataService.js"></script>
    <script src="app/utils/OddsUtils.js"></script>
    <script src="app/main-table/MainTableController.js"></script>
    <script src="app/table-header/TableHeaderController.js"></script>
    <script src="app/info-aside/InfoAsideController.js"></script>

</body>
</html>